<!DOCTYPE html>
<html>
<head>
<title> hello </title>
 
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> --> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
  <script src= "trial_app.js" ></script>

  <h1>heyyyy</h1>
</body>
</html>
